<header>
  <div class="logo"> <span>Trevel <b>Wize</b> </span> </div>
  <nav>
    <div id="webapp_cover">
      <div id="menu_button">
        <input type="checkbox" id="menu_checkbox" (change)="toggleMenu($event)">
        <label for="menu_checkbox" id="menu_label"  >
          <div id="menu_text_bar"></div>
        </label>
      </div>
    </div>
    <div class="menu_wrapper hide">
      <ul>
        <li>home</li>
        <li>journey</li>
        <li>about</li>
        <li>store</li>
        <li>contact</li>
      </ul>
    </div>

  </nav>
</header>
