$toggle-size: 60px;
$toggle-line-color: dimgray;
$toggle-line-focus-color: black;
$toggle-line-size: $toggle-size/8;
$toggle-line-angle: 405deg;
$toggle-anim-speed: 0.9s;

header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px -3px 8px 1px #d3d3d3;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: linear-gradient(90deg, rgb(215, 241, 234),rgb(215, 241, 234),  rgba(255, 255, 255, 0.81));
}



.logo {
  padding-left: 15px;
}

.menu_wrapper {
  width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
}

.menu_wrapper.hide {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  left: 153%;
  top: 0;
  right: 0;
  height: 100vh;
  margin: 0;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  background: linear-gradient(-90deg, #ffffffcf, white, white, #dbece88f, transparent);

  li {
    list-style: none;
    font-size: 72px;
    color: #ffffffe0;

    text-shadow: 0px 0px 50px #cc00ffed;
  }
}

ul.slide {
    left: 0;

    li {
      transition: 0.7s cubic-bezier(0.95, 0.32, 0, 2.22) all;
      &:hover {
        color: #035d6dc2;
        font-variant: petite-caps;
      }
    }
}

#webapp_cover
{
    position: absolute;
    top: 10%px;
    right: 20px;
    width: 39px;
    margin: 0 auto;
    transform: translateY(-50%) scale(1);
    z-index: 22;
}

#menu_button
{
    width: 39px;
    overflow: hidden;
}

#menu_checkbox
{
    display: none;
}

#menu_label
{
    position: relative;
    display: block;
    height: 22px;
    cursor: pointer;
}

#menu_label:before, #menu_label:after, #menu_text_bar
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #727272e8;
}

#menu_label:before, #menu_label:after
{
    content: '';
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu_label:before
{
    top: 0;
}

#menu_label:after
{
    top: 12px;
}

#menu_text_bar
{
    top: 24px;
}

#menu_text_bar:before
{
    content: 'MENU';
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: #303030e8;
    text-shadow: 0.4px 0.8px 0px #565454;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

#menu_checkbox:checked + #menu_label:before
{
    left: -39px;
}


#menu_checkbox:checked + #menu_label:after
{
    left: 39px;
}

#menu_checkbox:checked + #menu_label #menu_text_bar:before
{
    animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@keyframes moveUpThenDown
{
    0%{ top:0; }
    50%{ top:-27px;}
    100%{ top:-14px; }
}

@keyframes shakeWhileMovingUp
{
    0%{ transform: rotateZ(0); }
    25%{ transform:rotateZ(-10deg); }
    50%{ transform:rotateZ(0deg); }
    75%{ transform:rotateZ(10deg); }
    100%{ transform:rotateZ(0); }
}

@keyframes shakeWhileMovingDown
{
    0%{ transform:rotateZ(0); }
    80%{ transform:rotateZ(3deg); }
    90%{ transform:rotateZ(-3deg); }
    100%{ transform:rotateZ(0); }
}
