/* You can add global styles to this file, and also import other style files */




@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Enriqueta:400,700);

$font: 'Enriqueta', serif;

$gray: #D7F1EA;
$green: #39BA96;
$black: #3d3d3d;

$color-body: $black;
$bg-body: $gray;
$bg-menu: $black;

$padding: 24px;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: $font;
  color: $color-body;
  background-color: $bg-body;
  &.is-open {
    overflow: hidden;
  }
}






