.header {
  position: relative;
  text-align: center;
  font-size: 27px;


  span {
    font-variant: petite-caps;
    position: relative;

    &::after {
      content: '';
      width: 80%;
      height: 2px;
      background: black;
      position: absolute;
      left: 10%;
      bottom: 0;
    }
  }


}
